.newsletter{
    background:#EFF2F4;
    padding:40px;
    text-align:center;
    margin-top:30px;
}

.newsletter h2{
    margin:0;
}

.newsletter p{
    color:#606060;
    margin:10px 0 20px;
}

.newsletter-form{
    display:flex;
    justify-content:center;
    gap:10px;
}

.newsletter-form input{
    width:300px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

.newsletter-form button{
    padding:12px 20px;
    background:#0D6EFD;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

/* media query */

/* Mobile Responsive */

@media screen and (max-width:768px){

.newsletter{
    padding:25px 15px;
    margin-top:20px;
}

.newsletter h2{
    font-size:22px;
    line-height:30px;
}

.newsletter p{
    font-size:14px;
    line-height:22px;
    margin:12px 0 20px;
}

.newsletter-form{
    flex-direction:column;
    align-items:center;
    gap:12px;
}

.newsletter-form input{
    width:100%;
    max-width:350px;
    box-sizing:border-box;
}

.newsletter-form button{
    width:100%;
    max-width:350px;
    padding:14px;
    font-size:15px;
}

}