.cart-top{
    display:flex;
    gap:20px;
    padding:20px 40px;
    align-items:flex-start;
}


/* ===========================
   Cart Page Mobile
=========================== */

@media (max-width:768px){

  .cart-top{
    flex-direction:column;
    padding:15px;
    gap:15px;
  }

}