.filter-sidebar{
    width:280px;
    flex-shrink:0;
    margin-left:-25px;
}

.filter-box{
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:6px;
    padding:15px;
    margin-bottom:15px;
    text-align:left;
}

.filter-box h4{
    margin-bottom:15px;
    font-size:16px;
}

.filter-box p{
    margin:8px 0;
    cursor:pointer;
}

.filter-box label{
    display:block;
    margin:8px 0;
    cursor:pointer;
    font-size:14px;
}

.filter-box span{
    color:#0D6EFD;
    cursor:pointer;
}

.filter-heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.filter-heading h4{
    margin:0;
}

.filter-box input[type="text"]{
    width:100%;
    padding:8px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:5px;
    box-sizing:border-box;
}

.apply-btn{
    width:100%;
    padding:10px;
    background:#0D6EFD;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.filter-box input[type="radio"]{
    accent-color:#0D6EFD;
}

.price-inputs{
    display:flex;
    gap:10px;
    margin:10px 0;
}

.price-inputs input{
    flex:1;
    padding:8px;
    border:1px solid #ddd;
    border-radius:5px;
}

/* Mobile View */
@media (max-width:768px){

  .filter-sidebar{
    width:100%;
    margin-left:0;
  }

  .filter-box{
    width:100%;
    text-align:left;
  }

  .filter-heading{
    justify-content:space-between;
  }

  .filter-box p{
    text-align:left;
    margin:10px 0;
  }

  .filter-box label{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:10px;
    width:100%;
    text-align:left;
    margin:10px 0;
  }

  .filter-box input[type="checkbox"],
  .filter-box input[type="radio"]{
    margin:0;
    width:16px;
    height:16px;
    flex-shrink:0;
  }

  .price-inputs{
    flex-direction:column;
  }

  .price-inputs input{
    width:100%;
  }

  .apply-btn{
    width:100%;
  }
}