.product-top-section{
    display:flex;
    gap:20px;
    padding:20px 40px;
    align-items:flex-start;
    text-align:left;
}

.product-middle-section{
    display:flex;
    gap:20px;
    padding:0 40px 20px;
    align-items:flex-start;
}

.product-wrapper{
    display:flex;
    gap:20px;
    background:#fff;
    border:1px solid #DEE2E7;
    border-radius:6px;
    padding:20px;
    margin:20px 40px;
    align-items:flex-start;
}

/* ===========================
   Product Details Mobile
=========================== */

@media (max-width:768px){

  .product-wrapper{
    flex-direction:column;
    margin:15px;
    padding:15px;
    gap:20px;
  }

  .product-middle-section{
    flex-direction:column;
    padding:15px;
    gap:20px;
  }

}